.markdown {
    margin-top: 0;
    font-size: 1.1em;
}

.markdown h1, h2, h3 {
    text-align: center;
}

.markdown h2 {
    font-size: 1em;
    color: var(--text-date-color);
}

.markdown h3 {
    font-size: 1.4em;
    margin: 0.5em 0.5em;
}

.markdown p {
    margin-left: 1em;
    margin-right: 1em;
    text-align: justify;
    line-height: 1.75em;
    text-indent: 1.5em;
}

.markdown ul {
    width: 90%;
    margin: auto;
}

.markdown ul li {
    list-style-type: disc;
    margin: 0.1em;
}

.markdown a {
    color: var(--inline-anchor);
}

.markdown hr {
    margin: 2em auto;
    width: 25%;
}

.markdown .front-matter p {
    margin: 0;
    text-align: center;
}

.markdown .front-matter {
    margin-bottom: 1em;
}
